
// MARGIN
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mr10 {margin-right: 10px;}
.mr15 {margin-right: 15px;}
.mr20 {margin-right: 20px;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}

// PADDING
.pt10 {padding-top: 10px;}
.pt20 {padding-top: 20px;}
.pb10 {padding-bottom: 10px;}
.pb20 {padding-bottom: 20px;}
.pr10 {padding-right: 10px;}
.pr20 {padding-right: 20px;}
.pl10 {padding-left: 10px;}
.pl20 {padding-left: 20px;}
.inp10 {padding: 10px;}
.inp20 {padding: 20px;}

.fl {float: left;}
.dib {display: inline-block;}
.db {display: block;}
.vam {vertical-align: middle;}

body {
	background: url(../img/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#page-wrapper {
	&.gray-bg {background:transparent;}
}
.ibox {
	box-shadow: 0px 2px 10px rgba(0,0,0,.05);
}

.page-title {
	margin-bottom: 30px;
	h1,h2,h3 {
		font-weight: bold;
	}
}
.sub-text {
	color:$dark-gray;
}
.dataTables_filter {
	margin-top: 10px;
}
.footer {
	display: none;
	// padding: 40px 0 0 0;
	// background:transparent;
	// border-top: none;
	// div {
	// 	background:rgba(0,0,0,.4);
	// 	padding:10px 0;
		
	// 	color:white;
	// }
}