@charset "UTF-8";

@font-face {
  font-family: 'proximanova';
  src: url("../fonts/proximanova-regular.eot");
  src: url("../fonts/proximanova-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular.woff2") format("woff2"), url("../fonts/proximanova-regular.woff") format("woff"), url("../fonts/proximanova-regular.ttf") format("truetype"), url("../fonts/proximanova-regular.svg#proxima-nova-regular") format("svg");
  font-weight: normal;
  font-style: normal; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'proximanova';
  src: url("../fonts/proximanova-semibold.eot");
  src: url("../fonts/proximanova-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold.woff") format("woff"), url("../fonts/proximanova-semibold.ttf") format("truetype"), url("../fonts/proximanova-semibold.svg#proxima_nova_rgbold") format("svg");
  font-weight: bold;
  font-style: normal; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'proximanova';
  src: url("../fonts/proximanova-light.eot");
  src: url("../fonts/proximanova-light.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light.woff2") format("woff2"), url("../fonts/proximanova-light.woff") format("woff"), url("../fonts/proximanova-light.ttf") format("truetype"), url("../fonts/proximanova-light.svg#proxima_nova_rglight") format("svg");
  font-weight: lighter;
  font-style: normal; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

h3, h4, h5 {
  margin-top: 5px;
  font-weight: 600;
}